@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto+Slab:wght@500&family=Source+Sans+Pro:wght@200;400;600&display=swap');

body{
    background-color: #eee;
    font-family: "Source Sans Pro";
    font-weight: 100;
}

h1{
    font-family: "abril fatface"; 
    text-align: center;
    font-size: 3em;
}

h2, h4 {
    font-family: "roboto slab";

}

h5{
    color: #dd3232;
    font-family: "abril fatface";
}
.newspaper-container{
   margin:30px auto;
    width: 700px;
    padding: 10px;
    border-radius: 1%;
    box-shadow: 1px 2px #ddd;
    background-color: white;
    text-align: justify;
}

nav ul{
    list-style: none;
    margin: 3px;

}
nav li{
    display: inline-block;
    padding: 6px;    
  
}
nav{
    border-top:1px solid #eee;
    border-bottom: 1px solid #eee; 
    
}

a:link{
    color:#777;
    text-decoration: none;
    font-size: 0.9em;
}

.more-articles section{
    display: inline-block;
    width: 40%;
    padding: 25px;
    text-align: justify;
    
}

p{
    margin-inline-start: 10px;
}
main{
    border-bottom: 1px solid #eee;
}

